# Secrets
.env

# Données personnelles
contacts.csv

# Cache et données temporaires
cache/

# Fichiers internes non destinés au repo
sources/

# Dépendances PHP
# vendor/ (Commenté pour inclusion sur GitHub)

# Archives
*.zip

# Système
.DS_Store
Thumbs.db

# Dossiers serveur inutiles
cgi-bin/
logs/
backups/
.well-known/
